<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880322884704-pkelid3480pgjbolmssop7g77o7ha64m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880322884704-pkelid3480pgjbolmssop7g77o7ha64m</string>
	<key>API_KEY</key>
	<string>AIzaSyCF3_gOxMMnpNy4q19Y-qcpP7C7Vxq2LfM</string>
	<key>GCM_SENDER_ID</key>
	<string>880322884704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginpage</string>
	<key>PROJECT_ID</key>
	<string>appiot-df713</string>
	<key>STORAGE_BUCKET</key>
	<string>appiot-df713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880322884704:ios:da7e9116be9ab4de4a7f05</string>
</dict>
</plist>